<mat-drawer-container *ngIf="!itDevice">
  <mat-drawer #drawer mode="side" class="menu-bar">
    <app-menu-bar></app-menu-bar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
    </mat-toolbar>
<!--    <button mat-fab (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>-->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<div *ngIf="itDevice" class="body-container">
  <app-menu-bar></app-menu-bar>
  <router-outlet></router-outlet>
</div>
