//form {
//  max-width: 800px;
//}
.example-form {
  text-align: center;
  min-width: 300px;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
  ;
  }
  button {
    color: #FFFFFF;
    background: #10cd45;
  }
}

.example-full-width {
  width: 250px;
  margin: 0 3px;
}
