.example-form {
  text-align: center;
  font-family: Lato-Light;
  min-width: 285px;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .example-full-width {
      width: 250px;
      margin: 0 3px;
    }
    .colm{
      display: flex;
      flex-direction: column;
    }
  }
  button {
    color: #FFFFFF;
    background: #10cd45;
  }
  .mat-dialog-actions{
    margin-left: auto;
    margin-right: auto;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.warn-text>p {
  font-size: 12px;
  color: #ff0000;
  text-align: start;
}
